# file temporanei di TeXStudio/LaTeX/Astah
*.aux
*.log
*.out
*.pdf
*.synctex.gz
*.toc
*.mst
*.ind
*.ilg
*.lot
*.lof
*.fmt
*.fot
*.cb
*.cb2
*.fls
*.lock
*.bbl
*.glo
*.gls
*.glg
*.ist
*.loa
*.alg
*.bcf
*.blg
*.run.xml
output/*
*.xmpi
*.xmpdata
!user-manual.pdf
!dev-manual.pdf
